html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.35;
	margin-bottom: 180px;
	@include improve-legibility;
	@include media-breakpoint-down(md) {
		margin-bottom: 260px;	
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.3;
	margin-bottom: .75em;
	font-weight: 700;
	margin-top: 1.25em;
	margin-left: -.1em;

	@include media-breakpoint-down(md) {
		line-height: 1.2;
		margin-bottom: .6em;
		margin-top: 1.2em;
	}
}

h1, .h1{
	font-size: 2rem;
	margin-top: 0;
	font-size: 1.75rem;
}

// important
h2:first-child, h3:first-child, h4:first-child, h5:first-child,
h1 + h2, h2 + h3, h3 + h4, h4 + h5 {
	margin-top: 0;
}

// Base styles
a {
	@include link-style($link-color, $link-hover-color);

	&.inside {
		@include inside-link-style($link-color, $link-hover-color);
	}

	&.dotted {
		border-bottom-style: dotted !important;
	}
}

.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 180px;
	padding: 30px 0;

	@include media-breakpoint-down(md) {
		height: 260px;	
	}
}

.vk-icon{
	color: #45668e;
}
.fb-icon {
	color: #3b5998;
}
.be-icon {
	color: #1769ff;
}
.insta-icon {
	color: #833ab4;
}